
<h1 class="text-center">Product Manager</h1>
<hr color="black"/>
<!-- <div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2">
    <button class="btn btn-primary" routerLink="/add" (click)="addProduct()">Add Product</button>
  </div>
  <div class="col-lg-5"></div>
</div> -->
<app-product-add></app-product-add>
<hr color="black"/>
<table class="table text-center">
	<thead class="thead-dark">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody *ngFor="let product of products">
		<tr>
			<th scope="row">{{product.id}}</th>
			<td>{{product.name}}</td>
			<td>${{product.price}}</td>
			<td>
        <button class="btn btn-outline-primary btn-lg" (click)="detailProduct(product)">Detail</button>&nbsp;
				<button class="btn btn-outline-danger btn-lg" (click)="removeItem(product.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
<hr color="black" /><br />
<div class="row" *ngIf="selected">
	<div class="col-lg-2 col-md-0 mb-2"></div>
	<div class="col-lg-8 col-md-12 mb-8">
		<div class="card text-center">
			<div class="card-header">
				<h3>Product Detail</h3>
        <a href="#"><img src="https://dummyimage.com/375x175/000/fff" alt=""></a>
			</div>
			<div class="card-body">
        {{selected.desc}}
        <br/>
				{{selected.detail}}
			</div>
			<div class="card-footer">
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-0 mb-2"></div>
</div>